@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Kalam&family=Quicksand:wght@500&family=Spectral:ital,wght@1,500&display=swap');
  
body {
    height: calcul(100vh - 10px);
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1 {
    margin: 10px 0;
    padding: 0px 0;
    text-align: center;
    font-size: 260%;
    font-family: 'Boogaloo', cursive;
}


/* Pied de page */
footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}