@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Calistoga&family=Kalam&family=Quicksand:wght@500&family=Titan+One&display=swap');

body {
    height: calcul(100vh - 10px);
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1 {
    margin: 10px 0;
    padding: 0px 0;
    text-align: center;
    font-size: 260%;
    font-family: 'Boogaloo', cursive;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#zoneCanvas {
    margin: auto;
}

#plot {
    width: 750px;
    position: relative;
}

#plot_canvas {
    position: relative;
    left: 10px;
    border-radius: 10px;
    background-color: #eeeeff;
    padding-bottom: 20px;
}

.loi_concentration {
    position: absolute;
    left: 300px;
    top: 50px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    width: 400px;
}

.C0 {
    color: blue;
    margin: 0 5px;
}

.k {
    color: orange;
    margin: 0 5px;
}

#loi_concentration2 {
    flex-wrap: wrap;
    align-items: center;
}

.fraction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

#cursors_canvas {
    position: relative;
    left: 10px;
    border-radius: 10px;
    background-color: #eeffee;
    margin-top: 10px;
}

#informations {
    width: 400px;
    height: 320px;
    font: 1.5em 'Quicksand';
    background-color: #ffeeee;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#informations p {
    margin-bottom: 10px;
    margin-top: 0;
}

#inputs_ordre {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

input {
    margin: 0 10px;
    vertical-align: middle;
}

label {
    font-family: 'Quicksand', sans-serif;
}

sup {
    position: relative;
    bottom: 5px;
}

.loi_concentration {
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

#rate_equation {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#half_life {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*#half_life_numerator, #half_life_denominator {
    width: 100%;
    text-align:center;
}*/

footer {
    text-align: center;
}