@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Calistoga&family=Kalam&family=Quicksand:wght@500&family=Titan+One&display=swap');
  
body {
    height: calcul(100vh - 10px);
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1 {
    margin: 10px 0;
    padding: 0px 0;
    text-align: center;
    font-size: 260%;
    font-family: 'Boogaloo', cursive;
}

main {
    text-align: center;
}

#animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#graphic_zone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

canvas {
    border: solid black 1px;
    border-radius: 30px;
    margin: 0 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #9d9;
    border: solid #9d9 1px;
    border-radius: 30px;
    padding: 20px;
    margin: 0 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form p {
    margin: 3px 0;
}

input[type=checkbox] {
    margin-left: 20px;
}

.button_container {
    text-align: left;
    width: 100%;
    position: relative;
    top: 10px;
}

#button {
    position: relative;
    display: inline-block;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 80, 195, 0.8);
    padding: 10px;
    text-align: center;
    margin-right: 20px;
}

#button:hover {
    background-color: rgba(0, 80, 195, 1);
    cursor: pointer;
}