{% extends 'labo_num/base_animation.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'animations/lame-air/style.css' %}" />
	<script defer src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script defer src="{% static 'animations/js-utils.js' %}"></script>
	<script defer src="{% static 'animations/lame-air/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="zoneCanvas">
        <canvas id="cursors_canvas" width="550" height="520" margin="auto"></canvas>
        <canvas id="graphic_canvas" width="600" height="520" margin="auto"></canvas>
    </div>
{% endblock %}