{% extends 'labo_num/base_animation.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'animations/position-soleil/style.css' %}" />
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="{% static 'animations/js-utils.js' %}"></script>
    <script src="{% static 'animations/position-soleil/soleil-utils.js' %}"></script>
    <script defer>
        const src = "{% static 'animations/position-soleil/img/' %}";
    </script>
	<script defer src="{% static 'animations/position-soleil/meridienne.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <canvas id="canvas"></canvas>
    </main>
{% endblock %}