{% extends 'labo_num/base_animation.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'animations/niveaux-energie-hydrogene/style.css' %}" />
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	<script defer src="{% static 'animations/niveaux-energie-hydrogene/script.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div id="zoneCanvas">
            <canvas id="canvas" width="1250" height="515" margin="auto"></canvas>
        </div>
        <div id="zoneTexte">
            <p id="consignes">
                Déplacer les flèches sur le diagramme énergétique entre les niveaux d'énergie correspondants.
            </p>
            <div id="validation">
                Valider
            </div>
            <div id="tableau">
            </div>
        </div>
    </main>
{% endblock %}