{% extends 'labo_num/base_animation.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'animations/test/style.css' %}" />
	<script defer src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script defer>
        const soundURL = "{% static 'animations/test/zelda.mp3' %}";
    </script>
	<script defer src="{% static 'animations/test/script.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="button_container">
            <span id="button">Jouer le son</span>
        </div>
    </main>
{% endblock %}