{% extends 'labo_num/base_animation.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'animations/transitions-energetiques/style.css' %}" />
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	<script defer src="{% static 'animations/transitions-energetiques/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="elements">
        <h2>
            Élément chimique
        </h2>
        <div id=listElements>
        
        </div>
    </div>
    <div id="zoneSpectres">
        <canvas id="canvasSpectres" width="580" height="515" margin="auto"></canvas>
    </div>
    <div id="zoneDiagramme">
        <canvas id="canvasDiagramme" width="650" height="515" margin="auto"></canvas>
    </div>
{% endblock %}