{% extends 'labo_num/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labo_num/css/chapitres.css' %}" />
{% endblock head %}

{% block content %}
    {% for chapitre in chapitres|dictsort:"numero"|dictsort:"matiere" %}
        <div class="chapitre" id="{{ chapitre.matiere }}{{ chapitre.numero }}">
            <div class="chapitre_img" style="background: url({{ chapitre.img.url }}); background-repeat: contain; background-size: cover; background-position: top center;"
>
                <div class="titre_chapitre">
                    <div class="titre">{{ chapitre }} - {{ chapitre.titre }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}