{% extends 'labo_num/base_animation.html' %}
{% load static %}
{% load labo_num_extras %}

{% block head %}
    <meta name="author" content="Pierre Luzi" />
    <title>Flashcards de révision</title>
    <link rel="stylesheet" href="{% static 'labo_num/css/flashcards.css' %}" />
    <script defer src="{% static 'animations/js-utils.js' %}"></script>
    <script defer src="{% static 'labo_num/js/flashcards.js' %}"></script>
{% endblock head %}

{% block pagetitle %}
    <h1>Flashcards</h1>
{% endblock %}

{% block content %}
    <main>
        <img src="{% static 'labo_num/images/wrong.png' %}" id="wrong" />
        <div id=cards>
            {% for flashcard in flashcards %}
                <div class="flashcard">
                    <div class="front">
                        <div class="content">{{ flashcard.question|safe }}</div>
                    </div>
                    <div class="back">
                        <div class="content">{{ flashcard.reponse|safe }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="last_card_wrong">
                <a href="{% url 'flashcards' chapitre.niveau chapitre.matiere chapitre.numero %}">
                    <div class="front">
                        <div class="content">Entraîne-toi de nouveau pour essayer d'améliorer ton score !</div>
                    </div>
                </a>
            </div>
            <div class="last_card_correct">
                {% if chapitre.exercices %}<a href="{{ chapitre.exercices.url }}">{% endif %}
                    <div class="front">
                        <div class="content">Félicitations, tu connais bien le cours ! Entraîne-toi à refaire les exercices pour être prêt pour l'évaluation !</div>
                    </div>
                {% if chapitre.exercices %}</a>{% endif %}
            </div>
        </div>
        <img src="{% static 'labo_num/images/correct.png' %}" id="correct" />
    </main>
    <div id="guidelines">
        <p>Propose une réponse à la question posée (face blanche).</p>
        <p>Clique sur la carte pour vérifier la réponse.</p>
        <p>Si tu avais la bonne réponse, clique sur le bouton <img src="{% static 'labo_num/images/wrong.png' %}" /></p>
        <p>Si tu n'avais pas la bonne réponse, clique sur le bouton <img src="{% static 'labo_num/images/correct.png' %}" /></p>
    </div>
    <div class="score" id="wrong_score"></div>
    <div class="score" id="correct_score"></div>
{% endblock content %}

{% block footer %}
    <footer>
       Réalisé par P. Luzi - CC <strong>BY-NC-SA</strong>
    </footer>
{% endblock %}