{% extends 'labo_num/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labo_num/css/liste_geniallies.css' %}" />
{% endblock head %}

{% block pagetitle %}
    <h1>Genially</h1>
{% endblock %}

{% block content %}
        <div id="geniallies">
            {% for genially in geniallies %}
                <div class="genially">
                    <h3>{{ genially.titre }}</h3>
                    <div class="contenu_genially">
                        <a href="{% url 'genially' genially.slug %}">
                            <img style="height: 100px; width: auto;" src="{{ genially.img.url }}">
                        </a>
                        <div class="description">
                            {{ genially.description|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

   <!-- {% for genially in geniallies %}
        <div class="genially">
            <div>
        </div>

        <div style="width: 80%; margin: auto;">
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                <iframe title="{{ genially.titre }}" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{ genially.url }}" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
            </div>
        </div>
    {% endfor %} -->
{% endblock %}